<h1>Home#add</h1>
<form action="/home/new" method="post">
<div>
<label for= isbn> isbn </label>
<input type="text" name="addisbn"></input>
</div>
<div>
<label for= title> title </label>
<input type="text" name="addtitle"></input>
</div>
<button type="submit">create</button>
</form>
